

<div class="bar">
    
    <ul>
        <div
        class="logo">
        
        <li ><a routerLink="home"><img src="../assets/mainpen-re.png" width="100px" height="50px"
         style="border-radius:10px ; position: relative;
            right: 90px;top: -12px "></a></li>
            <li id="title" > <a  id="title_a" routerLink="home">Note Book</a></li>

        
       
    
    </div>
<div class="mod">
        
    
        
        <li *ngIf="isAuthenticated"><a href=# routerLink="notes/mynotes"><fa-icon [icon]="note"></fa-icon> 
            My Notes
        </a></li>
        <li *ngIf="isAuthenticated">
            <a href="#" routerLink="addnote"><fa-icon [icon]="addnote"></fa-icon>
                Add Note</a>
            </li>
        

    




    
   

    <li *ngIf="!isAuthenticated" style="margin-left: 50px;">
        <a href="#" routerLink="signup">Sign Up</a>
        
    </li>
    <li *ngIf="!isAuthenticated" >
        <a href="#" routerLink="login">Login
            
        </a>
        
    </li>
    <li *ngIf="isAuthenticated" >
        <span style="color:blue; margin-right: 10px;">{{username}}</span>

        <a (click)="logo()" style="color: red;">Logout <fa-icon [icon]="poweroff"></fa-icon>
            
            
        </a>
        
    </li>




</div>


        
    

        
    </ul>
    
    
    
    </div>
    
    
