

li{
    margin-right: 30px;
    float: left;
    list-style: none;
    font-size: large;
    
    
    
    /* margin-top: 10px; */

}
#title_a{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(102, 102, 214);
    font-size: xx-large;
}
#title{
   
    position:relative ;
    right: 120px; 
    top: 5px;
    
}
.logo{
    margin-left: 80px;
}
.bar{

    text-align: center;
    position: relative;
    top:-16px;
    height: 60px;
    background-color: rgb(160, 170, 180);
    width: 100%;
    border-bottom: solid 1px rgb(110, 116, 123);
    

}
a{
    text-decoration: none;
    cursor: pointer;
    color:rgb(45, 35, 32);


}
a:hover{
    color: aqua;
}
.bar ul {
    
    
    /* align-items: center; */
    margin-left: 30px;
}
.bar ul li {
    position: relative;
    top: 15px;
    
    
    
}




     