

<!-- <div class="bar"> -->
    <nav fix>
    
    <ul class="bar">
        
<!--         
        <li ><a routerLink="home"><img src="../assets/mainpen-re.png" width="100px" height="50px"
         ></a></li> -->
            <li id="title" >
                 <a  id="title_a" routerLink="home">
                <img src="../assets/mainpen-re.png" width="100px" height="50px" style="position: relative;
                bottom: 5px;"
                >Note Book
            </a>
            </li>

            <li>
                
                    <div class="switch">
                        <input id="switch-1" type="checkbox" class="switch-input"  (change)="dark($event)" >
                        <label for="switch-1" class="switch-label">Dark Mode</label>
                    </div>

                


            </li>

            

        
       
    

        <li *ngIf="isAuthenticated" style="font-weight: 600;"><a href=# routerLink="notes/mynotes"><fa-icon [icon]="note"></fa-icon> 
            My Notes
        </a></li>
        <!-- <li *ngIf="isAuthenticated">
            <a href="#" routerLink="addnote"><fa-icon [icon]="addnote"></fa-icon>
                Add Note</a>
            </li> -->
        


    

    <li *ngIf="!isAuthenticated">
        <a href="#" routerLink="signup">
        Sign Up</a>
        
    </li>
    <li *ngIf="!isAuthenticated" >
        <a href="#" routerLink="login">
        Login
            
        </a>
        
    </li>
    <li *ngIf="isAuthenticated" class="right"  >
        <span style="color:blue; margin-right: 10px;">
        <b>{{username}}</b></span>

        <a (click)="logo()" style="color: red;">Logout <fa-icon [icon]="poweroff"></fa-icon>
            
        </a>
        
    </li>


    

        
    </ul>
    
    
</nav>
    <!-- </div> -->
    
    
