

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }



nav {
        background-color: rgb(160, 170, 180);
        border-bottom: solid 1px rgb(110, 116, 123);
        padding: 0 15px;
        height: 60px;
        width: 100%;
        z-index: 100;
}


.bar{

    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    

}

li{
    /* margin-right: 30px; */
    padding: 15px;
    list-style: none;
    font-size: large;
    font-style: normal;
    
    
    
    
    /* margin-top: 10px; */



}

img{
    border-radius:10px ; 
    /* position: relative;
            
    right: 90px;
    top: -12px  */
}




#title_a{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(102, 102, 214);
    font-size: xx-large;
    
    
}


#title{
    position: relative;
    bottom:10px;
    /* right:40% */
    margin-right: auto;

    

   
    /* position:relative ;
    right: 120px; 
    top: 5px; */
    
    
    
}


a{
    text-decoration: none;
    cursor: pointer;
    color:rgb(45, 35, 32);


}


a:hover{
    color: aqua;
}


 .right {
    justify-self: flex-end;
}




.switch {
    position: relative;
    display: inline-block;
  }
  .switch-input {
    display: none;
  }
  .switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
  }
  .switch-label::before,
  .switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
  }
  .switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
  }
  .switch-label::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
  }
  .switch-input:checked + .switch-label::before {
    /* background-color: #89c12d; */
    background-color: darkslategray;
  }
  .switch-input:checked + .switch-label::after {
    left: 24px;
  }

  .nofixed{
    position: fixed;
    width: 100%;
    transition: 2s linear;
    top:0

  }
  
  .fixed{
    position: static;
    transition: 2s linear;
  }
  
  
  









@media only screen and (max-width: 750px){
    nav {
        background-color: rgb(160, 170, 180);
        border-bottom: solid 1px rgb(110, 116, 123);
        padding: 0 8px;
        height: 60px;
        width: 100%;
}

#title_a{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(102, 102, 214);
    font-size: medium;
    
    
}

li{
    /* margin-right: 30px; */
    padding:  7px;
    list-style: none;
    font-size: large;
    
    
    
    /* margin-top: 10px; */



}




a,span{
    font-size: medium;
}

}
