
<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <form (submit)="login(data.value)" #data="ngForm">
                <div class="form-group">
                        <label>Username</label>
                        <input type="email" name="email" id="username" ngModel class="form-control"
                        required >
                        <label>Password</label>
                        <input type="password" class="form-control"
                        required name="password" ngModel>
                        <button type="submit" class="btn btn-primary"
                        [disabled]="!data.valid">Login</button>
            
                </div>
            
            
            </form>

        </div>
    </div>
</div>


