



    <div class="outer">
        

        
        <div class="inner">
            
            
        
            <div  *ngIf="fetching==true">
                       
           
                           
                <div class="lds-roller" style="color: black; align-items: center; " ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
               
               
            
               
               </div>
            
            
            <div  *ngIf="fetching==false" >
                <h2 style=" color: blueviolet !important; text-align: center;">Login</h2>
                <form (submit)="login(data.value)" #data="ngForm">
                    
                    
                    <div class="form-group">
                       
                            <label>Username</label>
                            <input type="email" name="email" id="username" ngModel class="form-control"
                            required 
                            placeholder="ex: email@email.com">
                            
                            
                            
                                <label style="margin-top: 10px;">Password</label>
                                

                            
                        
                            <input type="password" class="form-control"
                            required name="password" ngModel
                            placeholder="******">
                            
                            <!-- <p>show password <span ><input type="checkbox" class=""></span></p>  -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""
                                 id="form2Example31" ngModel name="show" (change)="check($event.target)" checked />
                                <label class="form-check-label" for="form2Example31"> Show password </label>
                              </div>
                    
            
                            
                            <button type="submit" class="btn btn-primary" style="margin-top: 5px;"
                            [disabled]="!data.valid">Login</button>
                            <span *ngIf="error" class="alert alert-danger form-control">{{error}}</span>


                        </div>
                          
                    
                
                
                </form>
<hr>

                <div style="display: flex ; height:20px ; line-height: 25px; margin-top:8px ;">
                    <p style="font-size: large;font-style: italic; ">you don't have an account ?</p>
                     <div  class="Register"  ><a href="#" routerLink="/signup">Register</a></div>
                            </div>
            
            </div>
        
        
        
        
        </div>
        
         
           
        </div>
        
        

    