body{
    background-color: rgb(150, 150, 217);
}

.nshow{
    display: none;
}
.center {
    background-color: lightblue;
    width: 300px;
    display: flex;
    justify-content: center;
    
    
    
  }

.center-screen {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }