<!-- <ul
class="list-group" *ngFor="let post of postsList">
<li class="list-group-item">{{post.content}}</li>
<hr>
</ul> -->


<div class="container">
  <div class="row">

    <div class="col-xs-12">
  
      <div class="center-screen"
      *ngIf="postsList?.length==0">
       <!-- <p>No content to show</p> -->
       
          <fa-icon [icon]="exlamation" style="color : royalblue ;font-size: 200px;"></fa-icon>
        
          
      
       
       
       
       
     
     </div>
  
    </div>
  

  
  </div>

</div>


<div class="row">

  <div *ngFor="let post of postsList;let i=index" class="col-9 card mb-3" 
  style="max-width:520px ;height: 200px; background-color:#FFF7E9; margin-right: 40px;" 
  
  [@trueFalse]="animate ? 'true': 'false'">

    
    <div class="card-header" style="color: black; text-align: center;">
      <p *ngIf="post.post_id!=Toedit() || !editMode">{{post.post_name}}</p>
      
      
      
      
      <input type="text"
       style="background-color:whitesmoke ;
        border-radius: 10px;
         width: 100%; border-color: blueviolet;"
      [placeholder]='post.post_name'
       *ngIf="post.post_id===Toedit() && editMode" ngModel name="name"
        [ngModel]='post.post_name'

      #newName>
    
    </div>

    <div class="card-body" style="height:100px ; overflow-y: scroll ; text-justify: auto;" >
      
      <p class="card-text" *ngIf="post.post_id!=Toedit() || !editMode">
        {{post.content}}</p>

      <textarea type="text" cols="3" style="background-color:whitesmoke;
       border-radius: 10px; width: 100%;
       border-color: blueviolet;"
       [placeholder]='post.content' *ngIf="post.post_id===Toedit() && editMode"
        ngModel name="content" [ngModel]='post.content'
       #newContent> </textarea>
    </div>
         
      <div class="card-footer">
        
          
  
          <button type="button" class="btn btn-success"
          (click)="Modify(post.post_id,i)"
          style="background-color:rgb(112, 155, 112) ; max-height: 40px;"

          >
          
          <p *ngIf="Toedit()">{{editMode && post.post_id===Toedit() ?  'Cancel' : 'Modify'}} </p>
          <p *ngIf="Toedit()==null">Modify</p> 
        </button>
          <button type="button" class="btn btn-danger"
           style="margin-left: 10px; background-color:rgb(125, 55, 55) ;" (click)="ToDelete(post.post_id)">
           Delete</button>
          
           <button type="button" class="btn"
           style="margin-left: 10px; background-color: rgb(170, 170, 128);"
           *ngIf="post.post_id===Toedit() && editMode"
           (click)="httpModify(post.post_id)"
           >Save</button>

      </div>

      
        </div>


</div>






     




    
  