
.box{
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* margin: 10px; */
    background: rgba(0,0,0,0.75);
    /* display: grid; */
    /* grid-template-columns: 40% 40%; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr ; */
    
    /* column-gap: 30px; */
    
    z-index: 50;
}


.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.page{
    /* align-self: center; */
    /* display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center; */
    position: fixed;
    width: 80vh;
    top:20vh;
    left: 30vw;
    height: 60vh;
    border:solid 2px black;
    border-radius: 15px;
    
    
    /* background-color:  rgb(206, 230, 238); */
    /* background-color: #cecbc9; */
    background-color: #EDF7F4;
    
    z-index: 100;

}
h2{
    
    margin-top: 4px;
    font-style: italic;
    color: rgba(52, 52, 112, 0.552);
    text-shadow: 0.4px 1px red;

}
.page * :not(h2, .form-check-input){
    position: relative;
    /* top:20px; */
    margin-left:20px
}
.page button{
    margin-top: 10px;
    position: relative;
    width: 80%;
    height: auto;
}

.page input:not(.visibility) {
    width: 80%;
    background-color:  rgb(220, 238, 244);

}
.page textarea{
    width: 80%;
    background-color:  rgb(220, 238, 244);
}
.page span{
    margin-top: 8px;
}
label:not(.visibility){
    margin: 6px;
    font-style:oblique ;
    font-family: Arial, Helvetica, sans-serif;
}

.alert{
    margin-top: 10px;
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px){

.grid{
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
        justify-content: center;
        align-items: center;
        
    }
.image{
    display: none;
}


}